@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster+Two:ital@1&family=PT+Serif:ital@1&family=Teko:wght@300&display=swap');

.topsection{
	
	color:white;
	font-size: bolder;
	background-color:goldenrod;
	padding:5px 5px 5px 40px;
	
}
 
.topsection span{
		font-family: 'EB Garamond', serif;
		font-family: 'Lobster Two', cursive;
		font-family: 'Teko', sans-serif;
		color:whitesmoke;
		text-shadow: 1px 2px 10px black;

}
.carbattery{
	place-items: center;
	background-color: ghostwhite;
}
.carbattery,.car{
		font-family: 'Lobster Two', cursive;
		font-family: 'Teko', sans-serif;
		font-size: 100px;
		text-shadow: 2px 2px 6px black;
		color: whitesmoke;
		text-align: center;


}
.C1{

	margin-top:20px;
	width:13%;
	margin-left:2%;
	margin-right:1.5%;
	place-items: center;
	align-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid groove;
	background-color:white;
	/*box-shadow: 1px 2px 3px 4px black;*/
	display: flex;
	flex-direction: column;
	float: left;
	box-shadow: 10px 8px 20px black;
	border-radius:30px ;

}
